{% load reservation_extra %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}

{% localize off %}
    <link rel="stylesheet" href="{% static 'make_queue/css/calendar.css' %}">

    <div class="attached ui buttons">
        <a class="ui labeled icon make_yellow button" id="prev_week_button">
            <i class="left chevron icon"></i>
            {% trans "Previous" %}
        </a>
        <a class="ui make_yellow button bordered" id="now_button">
            <i class="calendar icon"></i>
            {% trans "Today" %}
        </a>
        <a class="ui right labeled icon make_yellow button" id="next_week_button">
            <i class="right chevron icon"></i>
            {% trans "Next" %}
        </a>
    </div>
    <table class="ui celled fixed very compact unstackable table" id="calendar">
        <thead>
        <tr>
            <th class="month compact title large">
                <div></div>
                <div class="title small"></div>
            </th>
            <th class="month full title large">
                <div></div>
                <div class="title small">
                    {% trans "Week" %} <span></span>
                </div>
            </th>
            <th>
                <div class="title large">{% trans "Mon" %}</div>
                <div class="title medium"></div>
            </th>
            <th>
                <div class="title large">{% trans "Tue" %}</div>
                <div class="title medium"></div>
            </th>
            <th>
                <div class="title large">{% trans "Wed" %}</div>
                <div class="title medium"></div>
            </th>
            <th>
                <div class="title large">{% trans "Thu" %}</div>
                <div class="title medium"></div>
            </th>
            <th>
                <div class="title large">{% trans "Fri" %}</div>
                <div class="title medium"></div>
            </th>
            <th>
                <div class="title large">{% trans "Sat" %}</div>
                <div class="title medium"></div>
            </th>
            <th>
                <div class="title large">{% trans "Sun" %}</div>
                <div class="title medium"></div>
            </th>
        </tr>
        </thead>
        <tr class="wrapping">
            <td class="wrapping">
                <div class="half_height"></div>
                {% numeric_range 1 24 as hours %}
                {% for hour in hours %}
                    <div>{{ hour|stringformat:"02d" }}:00</div>
                {% endfor %}
                <div class="half_height"></div>
            </td>
            {% numeric_range 0 7 as days %}
            {% for day in days %}
                <td class="wrapping">
                    <div class="day" data-date="" data-week-index="{{ day }}">
                        {% numeric_range 0 7 as num_indication_lines %}
                        {% for line in num_indication_lines %}
                            <div class="indicator hour"></div>
                        {% endfor %}
                    </div>
                </td>
            {% endfor %}
        </tr>
        <tfoot>
        <tr>
            <th colspan="8">
                <div class="legend make_right_floated">
                    <div class="item">
                        <div class="box make"></div>
                        {% trans "MAKE NTNU" %}
                    </div>
                    <div class="item">
                        <div class="box user"></div>
                        {% trans "Other reservations" %}
                    </div>
                    <div class="item">
                        <div class="box event"></div>
                        {% trans "Events" %}
                    </div>
                    <div class="item">
                        <div class="box user self"></div>
                        {% trans "My reservations" %}
                    </div>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>

    <script src="{% static "web/js/util.js" %}"></script>
    <script src="{% static "make_queue/js/reservation_rules.js" %}"></script>
    <script src="{% static "make_queue/js/calendar.js" %}"></script>
    {% if machine.pk %}
        <script>
            new Calendar({{ machine.pk }}{% if "date" %}, new Date({{ date }}){% endif %});
        </script>
    {% endif %}
{% endlocalize %}
