.reservation {
    position: absolute;
    width: 100%;
}

.reservation.user, .legend .box.user {
    background-color: #2185D0;
    border-top: 1px solid #1B629D;
    border-bottom: 1px solid #1B629D;
}

.reservation.user.self, .legend .box.user.self {
    background-color: #F8C811;
    border-top: 1px solid #D7AB0F;
    border-bottom: 1px solid #D7AB0F;
}

.reservation.make, .legend .box.make {
    background-color: #DCDDDE;
    border-top: 1px solid #BABBBC;
    border-bottom: 1px solid #BABBBC;
}

.reservation.event, .legend .box.event {
    background-color: #21BA45;
    border-top: 1px solid #1B8F3A;
    border-bottom: 1px solid #1B8F3A;
}

.reservation.event:hover {
    cursor: pointer;
}

.legend .box {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 5px;
}

.legend > .item {
    display: inline-block;
    padding-right: 0.5em;
}

@media screen and (max-width: 1000px) {
    .month.full {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .month.compact {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .legend {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.popup {
    position: absolute;
}

.title {
    text-align: center !important;
}

.title.large {
    font-size: 1.2em;
}

.title.medium {
    font-size: 1.1em;
}

.title.small {
    font-size: 0.9em;
}

.title.medium, .title.small {
   font-weight: normal;
}

.day {
    width: 100%;
    height: 100%;
    position: relative;
}

.indicator {
    width: 100%;
}

.indicator.hour {
    height: 12.5%;
    border-bottom: 1px solid lightgrey;
    z-index: 0;
    pointer-events: none;
}

.indicator.current {
    height: 2px;
    background-color: #FF0000;
    position: absolute;
    z-index: 300;
}

.time_selection {
    position: absolute;
    width: 100%;
    background-color: #38CAFF;
    pointer-events: none;
    border-radius: 0.3em;
}

.time_selection > .start_time {
    left: 0;
    top: -0.7em;
}

.time_selection > .end_time {
    right: 0;
    bottom: -0.7em;
}

.time_selection > .end_time, .time_selection > .start_time {
    position: absolute;
    border: 1px solid lightgrey;
    font-size: 0.8em;
    background-color: white;
    border-radius: 1em;
    width: 3em;
    z-index: 200;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.time_selection > .extend {
    height: 10px;
    position: absolute;
    width: 100%;
    pointer-events: all;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.time_selection > .extend:hover {
    cursor: ns-resize;
}

.time_selection > .extend.top {
    top: 0;
    border-radius: 0.3em 0.3em 0 0;
}

.time_selection > .extend.bottom {
    bottom: 0;
    border-radius: 0 0 0.3em 0.3em;
}

.half_height {
    height: 0.5em;
}

td.wrapping {
    text-align: center !important;
    height: 1px !important;
    padding: 0 !important;
}

tr.wrapping {
    height: 100% !important;
}

@supports (-moz-appearance:none) {
    td.wrapping {
        height: 100% !important;
    }
}
